.container {
	text-align: center;
	font-family: "Rubik Distressed", cursive;
}

.table {
	margin: auto;
}
.td {
	width: 200px;
	height: 400px;
	border: 6px solid white;
}
#column1 {
	background: #cdb4db;
	margin-right: 25px;
	margin-left: 25px;
}
#column2 {
	background: #ffc8dd;
	margin-right: 25px;
	margin-left: 25px;
}

#column3 {
	background: #ffafcc;
}
#column4 {
	background: #bde0fe;
}

#column5 {
	background: #a2d2ff;
}
